@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #F5EBE0;
    color: #41250c;
    min-width: 100vh;
    font-family: 'Outfit', sans-serif;
    line-height: 1.4;
    display: grid;
    place-content: center;
}

img {
    margin: auto;
    max-width: 100%;
    display: block;
    align-items: center;
}

h1, h2 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

h1 {
    color: #1F140D;
    font-size: 2.8rem;
}

.container {
    max-width: 800px;
    background-color: #fff;
    margin: 2rem;
    border-radius: 1rem;
}

.container .image{
    padding: 2rem;
    border-radius: 1rem;
    overflow: hidden;
}

.recipes-link {
    align-items: center;
    justify-content: center;
}

.container .image img{
    border-radius: 1rem;
}

.container .recipes img {
    border-radius: 1rem;
    max-width: 300px;
}

.container .recipes p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe {
    align-items: center;
    justify-content: center;
}

.page-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -30px;
}

.recipes {
    display: flex;
    flex-direction: column;
}

.recipes .recipes-link {
    
}